.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;
}

.select-container {
  position: relative;
}

.select-container select {
  appearance: none;
  padding-right: 2.5rem;
  border: 1px solid #ccc;
  box-shadow: none;
}

.select-container select:focus {
  outline: none;
  box-shadow: none;
  border-color: inherit;
  border-width: 1px;
}

.topics-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}

.article-card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
}

.article-card:hover {
  background-color: #f9f9f9c7;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 6px;
}

.article-card h3 {
  margin-top: 0;
  text-transform: capitalize;
}

.article-card ul {
  list-style-type: none;
  padding: 0;
}

.article-card li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.article-card li img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
}

.article-card a {
  color: #108470;
  text-decoration: none;
}

.article-card a:hover {
  text-decoration: underline;
  color: black;
}

.article-card .article-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 10px;
  border-radius: 8px;
}

@media only screen and (min-width: 600px) {
  .topics-container,
  .article-card {
    max-width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .topics-container,
  .article-card {
    max-width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1024px) {
  .topics-container,
  .article-card {
    max-width: 80%;
    margin: 0 auto;
  }
}

.dark .articles-page {
  background-color: var(--customDark);
}

.dark .article-card {
  background-color: var(--customGray);
}

.dark .article-card:hover {
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.1), 0 4px 6px -2px rgba(255, 255, 255, 0.05);
}

.dark .article-card h3 {
  color: white;
}

.dark .article-card p {
  color: white;
}

.dark h2 {
  color: white;
}
