.articles-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.article-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.article-card h3 {
    margin-top: 0;
    text-transform: capitalize !important;
}

.article-card img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.read-now-container {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

.article-card .read-now-button {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.article-card .read-now-button:hover {
    background-color: lightgrey;
    color: black;
}

.topic-title {
    text-align: left;
    margin-left: 20px;
    text-transform: capitalize !important;
}
